body{
	font-size: 1.4em;
}

.mainChantsContents{
	text-align: center;
	font-size: 150%;
}

#texs{
    border: 0;
}

#audioDiv{
    text-align: center;
    margin: 15px;
}

.pali{
    color: green;
    margin-top: 5px;
    margin-bottom; 5px;
}

.bow{
    color: orange;
}

#headerTable{
    margin-bottom: 10px;
}

.footer{
	border-top: #e5e5e5 1px solid;
	padding-top: 10px;
}
